@page "/"

@using GrechMotorsPrd.Shared.Models
@inject HttpClient Http

<div class="container vh-100 d-flex justify-content-center align-items-center mb-3">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="bg-white rounded-3 p-4 shadow-lg">
            <h1>Inicio</h1>
            <div class="row m-3">
                <div class="col">
                    <label for="QRCode" class="form-label" id="QRCode">Escanea el código QR</label>
                    <div class="d-flex">
                        <InputText @bind-Value="qrCode" placeholder="Ingresa el código QR" class="form-control rounded-start"></InputText>
                        <button type="submit" class="btn btn-outline-light bg-primary rounded-end" @onclick="GetUnit">
                            <i class="fa fa-search">
                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"></path>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
                @if(unitFurnitureCodeIsSuccess)
                {
                    <div class="row m-3">
                        <div class="col">
                            <p>G Number: @unit.g_number</p>
                            <p>Modelo: @unit.model</p>
                            <p>Descripción: @furniture.decription</p>
                            <p>Opcion: @unit.opt</p>
                            <p>Color: @unit.color</p>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col">
                            <label for="UserNumber" class="form-label" id="UserNumber">Número de Usuario</label>
                            <div class="d-flex">
                                <InputText @bind-Value="userNumber" placeholder="Escanea tu tarjeta de Usuario" class="form-control rounded-start"></InputText>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col">
                            <label for="Procesos" class="form-label">Procesos</label>
                            <select class="form-select" aria-label="Procesos" id="Procesos">
                                <option selected>Proceso</option>
                                <option value="Laminado">Laminado</option>
                                <option value="Corte">Corte</option>
                                <option value="Lijado">Lijado</option>
                                <option value="Pegado de Puertas">Pegado de Puertas</option>
                                <option value="Laminado de Puertas">Laminado de Puertas</option>
                                <option value="Lijado / Pintado de Puertas">Lijado / Pintado de Puertas</option>
                                <option value="Puerta de Fibra">Puerta de Fibra</option>
                                <option value="Pared Curva">Pared Curva</option>
                                <option value="Pared Recta">Pared Recta</option>
                                <option value="Pared de Heater">Pared de Heater</option>
                                <option value="Paredes Laterales de Fibra">Paredes Laterales de Fibra</option>
                                <option value="Tapizado">Tapizado</option>
                                <option value="Pulido de Piedra">Pulido de Piedra</option>
                                <option value="Closet o Mueble de Refri">Closet o Mueble de Refri</option>
                                <option value="Ottoman">Ottoman</option>
                                <option value="Portavasos">Portavasos</option>
                                <option value="Cajones de Pared">Cajones de Pared</option>
                                <option value="DVD Armado">DVD Armado</option>
                                <option value="Galley (Estructura)">Galley (Estructura)</option>
                                <option value="Galley (Instalacion de Puertas)">Galley (Instalacion de Puertas)</option>
                                <option value="Galley (Piedra y Tuberia)">Galley (Piedra y Tuberia)</option>
                                <option value="Gabinetes Superior (Estructura)">Gabinetes Superior (Estructura)</option>
                                <option value="Gabinetes Superior (Instalacion de puertas)">Gabinetes Superior (Instalacion de puertas)</option>
                                <option value="Gabinete Trasero Estructura">Gabinete Trasero Estructura</option>
                                <option value="Gabinete Trasero Puerta">Gabinete Trasero Puerta</option>
                                <option value="Instalacion de Luces">Instalacion de Luces</option>
                                <option value="Entrega">Entrega</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col">
                            <button class="btn btn-success px-4">Pass</button>
                            <button class="btn btn-danger px-4 mx-2">Fail</button>
                        </div>
                    </div>
                    unitFurnitureCodeIsSuccess = false;
                }
                else if(unitPieceCodeIsSuccess)
                {
                    <p>El codigo es una pieza</p>
                    unitPieceCodeIsSuccess = false;
                }
                @* <div class="row m-3">
                    <div class="col">
                        @if (qrCode == null)
                        {
                            <p class="text-center"><em>Loading...</em></p>
                        }
                        else
                        {
                            <div class="unitdata">
                                <p class="mb-2">G_Number: 8964</p>
                                <p class="mb-2">Modelo: Tour-170 ext</p>
                                <p class="mb-2">Opcion: Regular</p>
                                <p class="mb-2">Color: Claro</p>
                                <p class="mb-2">Descripcion: Pared lateral de baño</p>
                            </div>
                        }
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col d-flex">
                        <input type="text" placeholder="Número de empleado" name="search" class="form-control rounded-start" @bind="userNumber">
                        <button type="submit" class="btn btn-outline-light bg-primary rounded-end" @onclick="GetUser">
                            <i class="fa fa-search">
                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"></path>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <label for="Procesos" class="form-label">Procesos</label>
                        <select class="form-select" aria-label="Procesos" id="Procesos">
                            <option selected>Proceso</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <button class="btn btn-success px-4">Pass</button>
                        <button class="btn btn-danger px-4 mx-2">Fail</button>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</div>


@code {
    FurniturePieceModel furniturePiece = new FurniturePieceModel();
    UnitFurnitureModel unitFurniture = new UnitFurnitureModel();
    UnitPieceCodeModel unitPieceCode = new UnitPieceCodeModel();
    UnitFurnitureCodeModel unitFurnitureCode = new UnitFurnitureCodeModel();
    UnitModel unit = new UnitModel();
    FurnitureModel furniture = new FurnitureModel();
    PieceModel piece = new PieceModel();
    UserModel user = new UserModel();   
    HttpResponseMessage response = new HttpResponseMessage();

    string qrCode = "";
    string userNumber = "";
    bool unitFurnitureCodeIsSuccess = false;
    bool unitPieceCodeIsSuccess = false;

    private async void GetUnit()
    {
        string furnitureCodesUrl = $"api/UnitFurnitureCode/getUnitFurnitureByQrCode/{qrCode}";
        string pieceCodesUrl = $"api/UnitPieceCode/getUnitPieceByIdentificationCode/{qrCode}";
        string unitFurnitureUrl = $"api/Unit/getUnitById/{unitFurnitureCode.unit_id}";
        string unitPieceUrl = $"api/Unit/getUnitById/{unitPieceCode.unit_id}";
        string furnitureUrl = $"api/Furniture/getFurnitureById/{unitFurnitureCode.furniture_id}";
        string pieceUrl = $"api/Piece/getPieceById/{unitPieceCode.piece_id}";

        response = await Http.GetAsync(furnitureCodesUrl);
        if(response.IsSuccessStatusCode)
        {
            unitFurnitureCode = await response.Content.ReadFromJsonAsync<UnitFurnitureCodeModel>();
            var unitResponse = await Http.GetAsync(unitFurnitureUrl);
            unit = await unitResponse.Content.ReadFromJsonAsync<UnitModel>();
            var furnitureResponse = await Http.GetAsync(furnitureUrl);
            furniture = await furnitureResponse.Content.ReadFromJsonAsync<FurnitureModel>();
            unitFurnitureCodeIsSuccess = true;
            StateHasChanged();
        }
        else if(response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            response = await Http.GetAsync(pieceCodesUrl);
            if(response.IsSuccessStatusCode)
            {
                unitPieceCode = await response.Content.ReadFromJsonAsync<UnitPieceCodeModel>();
                unitPieceCodeIsSuccess = true;
                StateHasChanged();
            }
        }
        else
        {
            Console.WriteLine(response.StatusCode);
            unitFurnitureCodeIsSuccess = false;
            unitPieceCodeIsSuccess = false;
        }
    }
}